<div  ng-app="MemberApp" ng-controller="MemberCtrl">
	<div class="right">
		<table id="memberlist" class="table table-hover">
    		<thead>
    			<tr>
    				<th class="col-md-1 center">#</th>
	    			<th class="col-md-5 center">姓名</th>
	    			<th class="col-md-5 center">編組</th>
	    			<th class="col-md-1 center"></th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="member in members">
    				<td class="center">#</td>
    				<td class="center">{{ member.name }}</td>
    				<td class="center">{{ member.position }}</td>
    				<td class="center"><button class="btn" ng-click="assignStaff(member)">出勤</button></td>
    			</tr>
    		</tbody>
		</table>
	</div>
	<div class="left">
		<table id="dutytable" class="table table-hover table-bordered table-condensed">
			<thead>
				<tr>
    				<th>#</th>
	    			<th>姓名</th>
	    			<th>編組</th>
	    			<th></th>
	    			<td>秒數</td>
	    			<th>耗氧程度</th>
	    			<th>狀態</th>
    			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="staff in staffs" ng-controller="MyAppController">
					<td class="col-md-1 table-elem">#</td>
					<td class="col-md-1 table-elem">{{ staff.name }}</td>
					<td class="col-md-1 table-elem">{{ staff.position }}</td>
					<td class="col-md-2 table-elem">									
            			<button class="btn btn-success" ng-click="startTimer('progressbar-timer')">管控</button>
				        <button class="btn btn-danger" ng-click="stopTimer('progressbar-timer')">解除</button>
					</td>
					<td class="col-md-1 table-elem">
						<timer>{{seconds}}</timer>
					</td>
					<td class="col-md-5">
						 <timer interval="1000">
							<div class="progress table-elem"> 
								<div class="progress-bar {{statusProperty}} progress-striped active" style="width: {{percentage}}%;">
									<!-- <span>60% Complete</span> -->
								</div> 
						 	</div>
						 </timer>
					</td>
					<td class="col-md-1">
						<timer>{{state}}</timer> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
