<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="index.html">Dashboard</a></li>
			<li><a href="#">Tables</a></li>
			<li><a href="#">Simple Tables</a></li>
		</ol>
	</div>
</div>
<div class="row" ng-app="MemberApp" ng-controller="MemberCtrl" >
	<div class="col-xs-12 col-sm-4">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-table"></i>
					<span>第一大隊人員</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content" >
				<table id="memberlist" class="table table-hover">
		    		<thead>
		    			<tr>
		    				<th class="col-md-1 center">#</th>
			    			<th class="col-md-5 center">姓名</th>
			    			<th class="col-md-5 center">編組</th>
			    			<th class="col-md-1 center"></th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr ng-repeat="member in members">
		    				<td class="center">#</td>
		    				<td class="center">{{ member.name }}</td>
		    				<td class="center">{{ member.position }}</td>
		    				<td class="center"><button class="btn" ng-click="assignStaff(member)">出勤</button></td>
	    				</tr>
	    			</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8">
		<div class="box-header">
				<div class="box-name">
					<i class="fa fa-table"></i>
					<span>出勤人員</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
		</div>
		<div class="box-content">
			<table id="dutytable" class="table table-hover table-bordered table-condensed">
				<thead>
					<tr>
	    				<th>#</th>
		    			<th>姓名</th>
		    			<th>編組</th>
		    			<th></th>
		    			<td>秒數</td>
		    			<th>耗氧程度</th>
		    			<th>狀態</th>
	    			</tr>
				</thead>
				<tbody>
					<tr ng-repeat="staff in staffs" ng-controller="MyAppController">
						<td class="col-md-1 table-elem">#</td>
						<td class="col-md-1 table-elem">{{ staff.name }}</td>
						<td class="col-md-1 table-elem">{{ staff.position }}</td>
						<td class="col-md-2 table-elem">									
	            			<button class="btn btn-success" ng-click="startTimer('progressbar-timer')">管控</button>
					        <button class="btn btn-danger" ng-click="stopTimer('progressbar-timer')">解除</button>
						</td>
						<td class="col-md-1 table-elem">
							<timer>{{seconds}}</timer>
						</td>
						<td class="col-md-5">
							 <timer interval="1000">
								<div class="progress table-elem"> 
									<div class="progress-bar {{statusProperty}} progress-striped active" style="width: {{percentage}}%;">
										<!-- <span>60% Complete</span> -->
									</div> 
							 	</div>
							 </timer>
						</td>
						<td class="col-md-1">
							<timer>{{state}}</timer> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script src="plugins/angular/angular.min.js"></script>
<script src="plugins/js/memberlist.js"></script>
<script src="plugins/js/timer.js"></script>
<script src="plugins/js/TimeCtrl.js"></script>
<script src="plugins/js/ui-bootstrap-tpls-0.12.0.min.js"></script>