<ion-view title="作戰編組">
    <ion-tabs class="tabs-icon-top tabs-assertive" >

        <!-- Home Tab -->
        <ion-tab title="Home" icon="icon ion-home"    href="#/app/missioncontrol/home">
            <ion-nav-view name="tab-home"></ion-nav-view>
        </ion-tab>

         <ion-tab title="search" icon="icon ion-android-search" href="#/app/missioncontrol/search">
            <ion-nav-view name="tab-search"></ion-nav-view>
        </ion-tab>

         <ion-tab title="saved" icon="icon ion-checkmark-circled"  href="#/app/missioncontrol/saved">
            <ion-nav-view name="tab-saved"></ion-nav-view>
        </ion-tab>


    </ion-tabs>
</ion-view>
