<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="js/angular-timer-master/bower_components/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
     	<link href="js/angular-timer-master/bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    	<script src="js/angular-timer-master/bower_components/bootstrap/docs/assets/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script>
        	var myApp = angular.module('myApp',[]);
        	myApp.controller('TimeCtrl', ['$scope' , '$timeout', function ($scope , $timeout) {
        		
        		// initial data 

        		$scope.seconds = 0; // model for countdown
        		$scope.max = 20; // maxmum seconds 
        		$scope.statusAttr; // css property changed by js
        		$scope.state; // state 
        		$scope.percentage; // controller of width of bar
        		$scope.currentTime;

        		var Iprogresser;
        		var timeLogger;
        		var stopped;
        		var timer; // there is another default function called timer in windows therefore a new defination of timer variable is not recommened.
        		// stop timer
        		var timeLoggerArray = {};
        		 
        		$scope.stopTimer = function(){
        			$timeout.cancel(stopped);
        			$scope.endTime = timeLogger();
        		};

        		$scope.startTimer = function(){
        			Itimer();
        			$scope.startTime = timeLogger();
        		};

        		$scope.resetTimer = function(){
        			$timeout.cancel(stopped);
        			$scope.seconds = 0;
        			$scope.percentage = 0;
        			$scope.state='';
        		};

        		// start timer 
        		Itimer = function(){
        			// create a timer function with recursion 
        			stopped = $timeout(function(){
        				$scope.seconds++;
        				// console.log($scope.seconds);
        				if ($scope.seconds < $scope.max) {	
        					Itimer();
        					// modify bootstrap progress bar css
        					Iprogresser($scope.seconds); 
	        			}else{
	        				// if time goes over the maxmum time, it will stop automatically.
	        					$scope.stopTimer();
	        			};
	        		// normalize the width of bootstrap progress bar width
	        		$scope.percentage = ($scope.seconds / $scope.max)*100;
	        		console.log($scope.percentage);
        			// timeout seeting is based on millisecond, therefore 1000 millisecond is 1 second.
        			},1000);
        		};

        		Iprogresser = function(secs){
				    if (  2 <= secs  && secs< 5) {
                        //blue
                        $scope.statusAttr = 'progress-info';
                        $scope.state = '職勤';
                    }else if (5 <= secs && secs < 10) {
                        //green
                        $scope.statusAttr = 'progress-success';
                        $scope.state = '安全';
                    }else if (10 <= secs && secs < 15){
                        //yellow
                        $scope.statusAttr = 'progress-warning';
                        $scope.state = '警告';
                    }else if(15 <= secs && secs < $scope.max){
                        //red
                        $scope.statusAttr = 'progress-danger';
                        $scope.state = '危險';
    				}
				};

				timeLogger = function(){
					var currentTime =  new Date();
					return currentTime;
				};
        	}]);

        </script>
        <style>
            .progress{
                width:500px;
                height: 30px;
                
            }
            .centered {
              position: fixed; /* or absolute */
              top: 50%;
              left: 50%;
            }
            #hint {
                font-size: 16px;
            }

        </style>
    </head>
    <body>
    	<div ng-app="myApp" ng-controller="TimeCtrl">
    		<div class=" centered progress {{statusAttr}} progress-striped active">
  				<div class="bar" style="width: {{percentage}}%"><span id='hint' style="min-width: 2em; width: 2%; height: 2%">{{state}}</span></div>
			</div>
    	<button ng-click="startTimer()">Run</button>
    	<button ng-click="stopTimer()">stop</button>
    	<button ng-click="resetTimer()">reset</button>
    		current time {{seconds}}
    		<br>
    		start time : {{startTime}}
    		<br>
    		end time : {{endTime}}
    	</div>
    	
    </body>
</html>